body {
  margin: 0;
  color: white;
  background-color: black;
}

div[title='Action'] {
  background: rgb(232, 74, 74) !important;
}

.node {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: 2px solid rgba(255, 255, 255, 0.216) !important;
  /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.339); */
}

svg[data-testid='connection'] > path {
  stroke: rgb(255, 255, 255) !important;
}

.renderer-data {
  background-color: gray;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.debug {
  font-family: monospace;
  background-color: #00000060;
  color: white;
  padding: 3px;
  font-size: 11px;
  margin: 0;
}

#audio-debug {
  position: absolute;
  right: 0px;
  bottom: 40px;
}