@font-face {
  font-family: 'Oxygen Mono';
  src: url('Oxygen_Mono/OxygenMono-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Oxygen Mono';
}

input,
button,
select {
  font-family: 'Oxygen Mono';
}

.node .title,
.node .input-title {
  font-family: 'Oxygen Mono' !important;
}

div[title='Action'] {
  background: rgb(232, 74, 74) !important;
}

.node {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: 2px solid rgba(255, 255, 255, 0.216) !important;
  /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.339); */
}

.selected {
  border: 2px solid rgba(255, 255, 255, 0.658) !important;
}

svg[data-testid='connection']>path {
  stroke: rgb(255, 255, 255) !important;
}

/* SEARCH */
div[data-testid='context-menu']>div:first-child {
  /* background-color: green !important; */
  display: none;
}

div[data-testid='context-menu'] div {
  border-color: black;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

div[data-testid='context-menu-item'] {
  width: 160px !important;
}

.renderer-data {
  background-color: gray;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.debug {
  font-family: monospace;
  background-color: #00000060;
  color: white;
  padding: 3px;
  font-size: 11px;
  margin: 0;
}

#audio-debug {
  position: absolute;
  right: 0px;
  bottom: 40px;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.691);
  color: white;
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.168);
  border-radius: 5px;
  padding: 16px 20px;
}

button:hover {
  background-color: rgba(24, 24, 24, 0.5);
}

#canvas-root>canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.component-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* https://css-tip.com/corner-only-border-image/ */
.border-corners {
  --s: 15px;
  /* the size on the corner */
  --t: 2px;
  /* the thickness of the border */
  --g: 0px;
  /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid whitesmoke;
  /* the color here */
  outline-offset: calc(-1*var(--t));
  -webkit-mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

.border-corners-small {
  --s: 10px;
  /* the size on the corner */
  --t: 1px;
  /* the thickness of the border */
  --g: 1px;
  /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid whitesmoke;
  /* the color here */
  outline-offset: calc(-1*var(--t));
  -webkit-mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}